{% extends "homebase.html" %}
{% block content %}
{% load staticfiles %}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
        <a href="{% url 'home:academic-professional' %}">
        <img src="{{STATIC_URL}}images/graph.png" style="max-height: 10em" align="middle"/>
            <h4>Academic & Professional Life</h4>
        </a>
    </div>
    <div class="col-md-4">
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4 text-center">
         <a href="{% url 'home:projects' %}">
        <img src="{% static 'images/projects.png' %}"  style="max-height: 10em; vertical-align: middle" /> <br/>
             <h3>Projects</h3>
        </a>
    </div>
    <div class="col-md-4  text-center">
        <a href="{% url 'home:about' %}">
        <div class="author-photo">
        <img src="{{STATIC_URL}}images/guri2.jpg" style="max-height: 20em; max-width: 20em;" width="100%"/>
        </div>
        </a>
    </div>
    <div class="col-md-4 text-center">
         <a href="{% url 'home:interests' %}">
        <img src="{{STATIC_URL}}images/gametheory.png" style="max-height: 10em" align="middle"/><br/>
            <h3>Interests</h3>
        </a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
        <a href="{% url 'home:personal' %}">
        <img src="{{STATIC_URL}}images/reading.jpg" style="max-height: 7em" align="middle"/> <br />
        </a>
    	I spend my spare time in travelling, photography, reading good literature (English, Punjabi & Hindi Languages). Other activities include <a href="{% url 'home:index' %}">contributing</a> to the literary community of Punjabi Language.
	</div>
    <div class="col-md-4">
    </div>
</div>
{% endblock %}