{% extends "homebase.html" %}
{% block content %}
{% load staticfiles %}
<br/>
<h3 class="text-center">Projects</h3>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-image">
                <a href="page-portfolio-item.html"><img alt="Project Name" src="{% static 'images/projects/smartgis.jpg' %}"></a>
            </div>
            <div class="portfolio-info-fade">
                <ul>
                    <li class="portfolio-project-name">Smart General Insurance Solutions</li>
                    <li>Android App Development and Website design &amp; Development. Backend panel development for automated control by the staff.</li>
                    <li>Client: Smart General Insurance Solutions</li>
                    <li class="read-more"><a class="btn" href="http://smartgisolutions.com/">View</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-image">
                <a href="page-portfolio-item.html"><img alt="Project Name" src="{% static 'images/projects/pssca.jpg' %}"></a>
            </div>
            <div class="portfolio-info-fade">
                <ul>
                    <li class="portfolio-project-name">PSSCA</li>
                    <li>Website design &amp; Development with office work automated in the backend panel.</li>
                    <li>Client: Punjab State Seed Certification Authority</li>
                    <li class="read-more"><a class="btn" href="http://pssca.punjab.gov.in/">View</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-image">
                <a href="page-portfolio-item.html"><img alt="Project Name" src="{% static 'images/projects/raysmakeovergallery.jpg' %}"></a>
            </div>
            <div class="portfolio-info-fade">
                <ul>
                    <li class="portfolio-project-name">Ray's Makeover Gallery</li>
                    <li>Complete Branding &amp; Wordpress Website design &amp; Development</li>
                    <li>Client: Ray Chaney (Prop. Ray's Makeover Gallery)</li>
                    <li class="read-more"><a class="btn" href="http://raysmakeovergallery.ca/">View</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-image">
                <a href="page-portfolio-item.html"><img alt="Project Name" src="{% static 'images/projects/ijorcs.org.jpg' %}"></a>
            </div>
            <div class="portfolio-info-fade">
                <ul>
                    <li class="portfolio-project-name">IJORCS</li>
                    <li>Website design &amp; Development</li>
                    <li>Client: White Globe Publications</li>
                    <li class="read-more"><a class="btn" href="http://ijorcs.org/">View</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-image">
                <a href="page-portfolio-item.html"><img alt="Project Name" src="{% static 'images/projects/dekhbai.com.jpg' %}"></a>
            </div>
            <div class="portfolio-info-fade">
                <ul>
                    <li class="portfolio-project-name">Dekhbai</li>
                    <li>Website design &amp; Development</li>
                    <li>Client: Satwinder Singh</li>
                    <li class="read-more"><a class="btn" href="http://dekhbai.com/">View</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="col-md-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-image">
                <a href="page-portfolio-item.html"><img alt="Project Name" src="{% static 'images/projects/smartgis.jpg' %}"></a>
            </div>
            <div class="portfolio-info-fade">
                <ul>
                    <li class="portfolio-project-name">Project Name</li>
                    <li>Website design &amp; Development</li>
                    <li>Client: Some Client LTD</li>
                    <li class="read-more"><a class="btn" href="page-portfolio-item.html">View</a></li>
                </ul>
            </div>
        </div>
    </div>-->
</div>
{% endblock %}