.list-group li {
    list-style: none;
}
.clickable-div {
    text-decoration: none !important;
}
.jumbotron {
    padding-bottom: 10px !important;
    background-color: #d9edf7 !important;
}

.bs-callout {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.circledes {
    font-family: "Vollkorn",sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    text-align: center;
}

.author-photo img {
    background-clip: padding-box;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px #fff inset, 0 1px 2px #F41E00;
    margin: auto;
}