{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<div class="row">
    <h3>Comprehension - {{ comprehension.ComprehensionTitle }}</h3>
    <p>{{ comprehension.ComprehensionsText }}</p>
</div>
<h3>{{question}}</h3>
<!--<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th colspan="5">Question Details</th>
            </tr>
            <tr>
                <th>Question Type(s)</th>
                <th>Lexical Density</th>
                <th>Readability Index</th>
                <th>Punctuation Index</th>
                <th>COG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% for q in question.QuestionTypeID.all %}
                        {{q}}
                    {% endfor %}
                </td>
                <td>{{question.center_of_gravity.lexical_density}}</td>
                <td>{{question.center_of_gravity.readability_index}}</td>
                <td>{{question.center_of_gravity.punctuation_index}}</td>
                <td>X = {{question.center_of_gravity.cogX}}, Y = {{question.center_of_gravity.cogY}} &lt;!&ndash;= {{question.center_of_gravity}}&ndash;&gt;</td>
            </tr>
        </tbody>
    </table>
</div>-->
<div class="row">
    <dl>
        <dt class="text-center">Question, Sentence Pair</dt>
        <dd>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>CoG of</th>
                        <th>(X1,Y1)(X2,Y2)(X3,Y3)</th>
                        <th>Lexical Density</th>
                        <th>Readability Index</th>
                        <th>S_Lex</th>
                        <!--<th>Bigrams</th>-->
                        <!--<th>Bonus Value</th>-->
                        <th>COG</th>
                        <!--<th>E.D.</th>-->
                        <!--<th>Bonuses</th>-->
                        <th>E.D.</th>
                        <th>Sim</th>
                    </tr>
                </thead>
                <tbody>
                        {%for cog in cog_bag %}
                            <tr>
                                <th>Question</th>
                                <td width="10%">
                                    NE - ({{cog.question_cog.X1}},{{cog.question_cog.Y1}})<br>
                                    <!--POS - ({{cog.question_cog.X2}},{{cog.question_cog.Y2}})<br>-->
                                    Bonus - ({{cog.question_cog.X2}},{{cog.question_cog.Y2}})<br>
                                    <!--RF - ({{cog.question_cog.X3}},{{cog.question_cog.Y3}})-->
                                    Bigrams - ({{cog.question_cog.X3}},{{cog.question_cog.Y3}})
                                </td>
                                <td>{{cog.question_cog.lexical_density|floatformat:6}}</td>
                                <td>{{cog.question_cog.readability_index}}</td>
                                <td>{{cog.question_cog.q_lex}}</td>
                                <!--<td>{{cog.matched_bigrams}}</td>-->
                                <!--<td rowspan="2">{{cog.question_cog.bonus_value}}</td>-->
                                <td>X={{cog.question_cog.cogX|floatformat:6}} <br> Y={{cog.question_cog.cogY|floatformat:6}}</td>
                                <!--<td rowspan="2">{{cog.euclidean_distance}}</td>-->
                                <!--<td>{{cog.question_bonus_distance}}</td>-->
                                <td rowspan="2">{{cog.euclidean_distance}}</td>
                                <td rowspan="2">{{cog.similarityv}}</td>
                            </tr>
                            <tr>
                                <th>{{cog.sentence_cog.sentence}}</th>
                                <td width="10%">
                                    NE - ({{cog.sentence_cog.X1}},{{cog.sentence_cog.Y1}})<br>
                                    <!--POS - ({{cog.sentence_cog.X2}},{{cog.sentence_cog.Y2}})<br>-->
                                    Bonus - ({{cog.sentence_cog.X2}},{{cog.sentence_cog.Y2}})<br>
                                    <!--RF - ({{cog.sentence_cog.X3}},{{cog.sentence_cog.Y3}})-->
                                    Bigrams - ({{cog.sentence_cog.X3}},{{cog.sentence_cog.Y3}})
                                </td>
                                <td>{{cog.sentence_cog.lexical_density|floatformat:6}}</td>
                                <td>{{cog.sentence_cog.readability_index}}</td>
                                <td>{{cog.sentence_cog.s_lex}}</td>
                                <!--<td>{{cog.sentence_cog.matched_bigrams}}</td>-->
                                <!--<td>{{cog.sentence_cog.bonus_value}}</td>-->
                                <td>X={{cog.sentence_cog.cogX|floatformat:6}} <br> Y={{cog.sentence_cog.cogY|floatformat:6}}</td>
                                <!--<td>{{cog.sentence_bonus_distance}}</td>-->
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<!--{% for tag in tags %}
    {% for t in tag %}
        {{t}}, &nbsp;
    {% endfor %}<br>
{% endfor %}-->

<!--{{ graph.as_html }}-->

<input type="hidden" id="q_cog" value="{{q_cog_dump}}">


<div id="question_graph" align="center" style="min-height: 500px;"></div>

<input type="hidden" id="a_cog" value="{{answers_dump}}">

{% for c in cog_bag %}
    {{c.question_cog.question}}<br>
    X1= {{c.question_cog.X1}}<br>
    Y1= {{c.question_cog.Y1}}<br>
    X2= {{c.question_cog.X2}}<br>
    Y2= {{c.question_cog.Y2}}<br>
    X3= {{c.question_cog.X3}}<br>
    Y3= {{c.question_cog.Y3}}<br>
    W1= {{c.question_cog.lexical_density}}<br>
    W2= {{c.question_cog.readability_index}}<br>
    W3= {{c.question_cog.q_lex}}<br>
    CoG = ({{c.question_cog.cogX}}, {{c.question_cog.cogY}})<br><br>
    {{c.sentence_cog.sentence}}<br>
    X1= {{c.sentence_cog.X1}}<br>
    Y1= {{c.sentence_cog.Y1}}<br>
    X2= {{c.sentence_cog.X2}}<br>
    Y2= {{c.sentence_cog.Y2}}<br>
    X3= {{c.sentence_cog.X3}}<br>
    Y3= {{c.sentence_cog.Y3}}<br>
    W1= {{c.sentence_cog.lexical_density}}<br>
    W2= {{c.sentence_cog.readability_index}}<br>
    W3= {{c.sentence_cog.s_lex}}<br>
    CoG = ({{c.sentence_cog.cogX}}, {{c.sentence_cog.cogY}})<br><br>
    E.D = {{c.euclidean_distance}}<br>
    Score = {{c.similarity}}<br><br><br>

{% endfor %}

{% for f in filtered %}
    {{f}}<br>
{% endfor %}<br>
{% for p in hints %}
    {% for sent in p %}
        {{sent}}<br>
    {% endfor %}<br><br>
{% endfor %}<br>
{{findex}}<br>
{% for pr in pairs %}
    {% for p in pr %}
        {{p}}<br>
    {% endfor %}
{% endfor %}
{% endblock %}
</div>
